body {
  background: rgb(38, 1, 97);
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #767676;
}

.titel {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  align-items: center;
}
.logo-css {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 5%;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  align-items: center;
  margin-right: 66px;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.home_icon {
  color: aliceblue;
  background-color: #040038;
}

.about_icon {
  color: aliceblue;
  background-color: #040038;
}

.projects_icon {
  color: aliceblue;
  background-color: #040038;
}

.contact_icon {
  color: aliceblue;
  background-color: #040038;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.footer-message {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: end;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_pic {
  display: flex;
  justify-content: center;
}
